body {
overflow-x: hidden;
    background-color: white;
}

section {
    border: 15px solid;
    border-color: rgb(217, 223, 220);
    background-color: rgb(253, 241, 222);
    background-position: 100px;
    margin: 150px;
    border-radius: 10px;
}

.main {
    box-shadow: 10px 10px rgb(217, 223, 220);
    background-color: rgb(250, 239, 241);
}

.sub {
    box-shadow: 10px 10px rgb(217, 223, 220);
}

.lohead {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.logo {
    margin-left: 10px;
}

.head {
    margin-right: -30px;
    margin-top: 10px;
    color: #55b8a7;
}

.navigation a {
    float: right;
    margin-left: 100px;
    text-decoration: none;

}

.navigation {
    display: flex;
}

.navigation button {
    background-color: blue;
    height: 30px;
    border-radius: 10px;
    margin-left: 130px;
}

.headings {

    margin-left: 190px;
    margin-top: 90px;
}

.headings h1 {
    font-size: 200%;

}

.headings img {
    margin-bottom: 10px;
    height: 200px;
}

.fa-twitter {
    margin-left: 70px;
    color: rgb(9, 117, 117);
    border: solid #274e36 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px rgb(241, 210, 170);
}

.fa-instagram {
    margin-left: 70px;
    color: rgb(9, 117, 117);
    border: solid #d9db6c 15px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px rgb(243, 212, 172);
}

.btn {
    margin-left: 20%;
    display: flex;
}

.btn button {
    background-color: rgb(165, 203, 238);
    height: 40px;
    border-radius: 10px;

    box-shadow: 8px 8px 8px 8px rgb(233, 211, 183);
}

.btn1 {
    padding-left: 20px;
}

.pic {
    margin-left: 40%;
    margin-top: -25%;
    background-image: url(SPLASH-removebg-preview.png);
    background-repeat: no-repeat;
    height: -300px;
    width: -370px;
}

.ptners {
    display: flex;
    margin-left: 200px;
    
    width: 600px;
    margin-top: 20px;
}

.n {
     margin-left: 2px; 
    background-color: rgb(248, 242, 242); 
    width: 600px;
    text-align: center;
}
.t {
    margin-left: 2px;
    background-color: rgb(248, 242, 242); 
    width: 600px;
    text-align: center;
}
.p {
  
    background-color: rgb(248, 242, 242); 
    width: 600px;
    text-align: center;
}

.one {
    margin-left: 200px;
    display: flex;
    margin-top: 20px;
}

.one img {
    height: 60px;
    width: 90px;
}

.first {
    margin-right: 50px;
    color: rgb(231, 154, 60);
}

.frst {
    margin-left: 100px;
}

.scnd {
    margin-left: 100px;
}

.snd {
    margin-left: 100px;
}

.services {
    text-align: center;
    margin-right: 100px;
    margin-top: 20px;
}

.sevs {
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
}

.sevs h5 {
    margin-left: 20px;
}

.sevs i {
    padding-top: 10px;
    margin-left: 20px;
}

.sv1 {
    font-size: 30px;
}

.fa-desktop {
    background: #f8f8f6;
    border-radius: 20px;
    padding: 15px;
    color: rgb(7, 6, 6);
    margin-top: 20px;
}

.fa-bullseye {

    background: #3388d8;
    border-radius: 20px;
    padding: 15px;
    color: rgb(250, 248, 248);
    margin-top: 20px;

}

.fa-chess-queen {
    background: #ebdc0c;
    border-radius: 20px;
    padding: 15px;
    color: rgb(253, 253, 253);
    margin-top: 20px;
}

.sv2 {

    background-color: rgb(201, 229, 233);

}

.sv2 h6 {
    margin-left: 20px;
}

.sv3 h6 {
    margin-left: 20px;
}

.sv4 h6 {
    margin-left: 20px;
}

.sv3 {
    margin-left: 1px;
    background-color: rgb(28, 80, 54);
    box-shadow: 8px 8px 8px 8px #757379;
}

.sv4 {
    margin-left: 1px;
    background-color: rgb(154, 197, 226);

}

.work {
    margin-left: 200px;
    display: flex;
}

.mg {
    height: 400px;
    background-image: url(SPLASH-removebg-preview.png);

    background-repeat: no-repeat;
}

.hi {
    margin-left: 500px;

}

.imag {
    margin-left: 100px;
    margin-top: 30px;
}

.imag1 {
    margin-bottom: 50px;
}

.im1 {
    margin-bottom: 50px;
    height: 15px;
    width: 900px;

}
.im1 button{
    height: 50px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px rgb(163, 161, 161);
}
.imag2 {
    margin-bottom: 50px;
}

.sign {
    margin-left: 200px;
}

.butn {
    display: flex;
    margin-left: 120px;
    height: 45px;
}

.imag3 span {
    background: #ebdc0c;
    border-radius: 20px;
    padding: 15px;
    color: rgb(253, 253, 253);
    margin-top: 20px;
}

.butn input {
    background-color: #284b30;
    width: 200px;
}

.butn button {
    height: 30px;
    margin-left: -80px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #5c33bb;
}

.sign h1 {
    font-size: 40px;
}

.sign h6 {
    margin-left: 200px;
}

.last {
    margin-left: 200px;


}

.lst img {
    margin-left: 55%;
    margin-top: -60%;

    background-repeat: no-repeat;
    height: 420px;
    width: 370px;
    background-image: url(color-removebg-preview.png);

}

.H1 {
    margin-left: 200px;
}

.H2 {

    font-size: 30px;
}

.lst {
    display: inline;
}

.list input {
    height: 50px;
    border: none;
    background-color: #e0e0dd;
}

.lst input {
    background-color: rgb(235, 236, 236);
    height: 20px;
}

.lsst button {
    background-color: rgb(109, 198, 240);
    border-radius: 20px;
    height: 40px;
    box-shadow: 5px 5px 5px 5px rgb(190, 190, 192);
}

.lsst {

    margin-top: 20px;
}

.log {
    display: flex;
    margin-left: 330px;

}

.loog {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.log1 {
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.splash {
    margin-right: -500%;
}

.two{
    background-color: #5c33bb;
    padding: 10px;
    border-radius: 50px;
    width: 20px;
    
}
.three{
    background-color: #c1d83e;
    padding: 10px;
    border-radius: 50px;
    width: 20px; 
}
.one1{
    background-color: #185220;
    padding: 10px;
    border-radius: 50px;
    width: 20px;
    margin-right: 10px;
}